.tagContainer
    display: flex
    flex-direction: row
    padding: 8px 12px
    width: 100%

.checkbox
    border-color: var(--form-border)

    &Label
        color: var(--secondary-text-color)

    &Number
        background-color: var(--sidebar-button-hover)
        border: 1px solid var(--tag-number)
        border-radius: 50%
        padding: 2px 8px

        &Text
            color: var(--tag-number-text)