.text-preset-1
  font-family: var(--font-manrope)
  font-size: 24px
  font-weight: bold
  line-height: 140%
  letter-spacing: 0

.text-preset-2
  font-family: var(--font-manrope)
  font-size: 20px
  font-weight: bold
  line-height: 120%
  letter-spacing: 0

.text-preset-2-semi
  font-family: var(--font-manrope)
  font-size: 24px
  font-weight: 600
  line-height: 140%
  letter-spacing: 0

.text-preset-3
  font-family: var(--font-manrope)
  font-size: 16px
  font-weight: 600
  line-height: 140%
  letter-spacing: 0

.text-preset-3-md
  font-family: var(--font-manrope)
  font-size: 16px
  font-weight: 500
  line-height: 130%
  letter-spacing: 0

.text-preset-4
  font-family: var(--font-manrope)
  font-size: 14px
  font-weight: 600
  line-height: 140%
  letter-spacing: 0

.text-preset-4-md
  font-family: var(--font-manrope)
  font-size: 14px
  font-weight: 500
  line-height: 150%
  letter-spacing: 0

.text-preset-5
  font-family: var(--font-manrope)
  font-size: 12px
  font-weight: 500
  line-height: 140%
  letter-spacing: 0