@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

/* @custom-variant dark (&:is(.dark *)); */

:root {
  --neutral-900: #051513;
  --neutral-800: #4c5c59;
  --neutral-500: #899492;
  --neutral-400: #c0cfcc;
  --neutral-300: #dde9e7;
  --neutral-100: #e8f0ef;
  --neutral-0: #ffffff;
  --teal-800: #013c3b;
  --teal-700: #014745;
  --red-800: #cb0a04;
  --red-600: #fd4740;

  --primary-text-color: var(--neutral-900);
  --secondary-text-color: var(--neutral-800);
  --background-color: var(--neutral-100);
  --sidebar-button-hover: var(--neutral-100);
  --nav-bg: var(--neutral-0);
  --nav-bg-border: var(--neutral-300);
  --form-bg: var(--neutral-0);
  --form-bg-hover: var(--neutral-100);
  --form-border: var(--neutral-500);
  --form-border-hover: var(--neutral-500);
  --focus-outline: var(--teal-700);
  --form-error: var(--red-800);
  --tag-number: var(--neutral-300);
  --tag-number-text: var(--neutral-800);
}

[data-theme='dark'] {
  --neutral-900: #001414;
  --neutral-800: #001f1f;
  --neutral-500: #004241;
  --neutral-600: #002e2d;
  --neutral-400: #004746;
  --neutral-300: #00706e;
  --neutral-100: #b1b9b9;
  --neutral-0: #ffffff;

  --primary-text-color: var(--neutral-0);
  --secondary-text-color: var(--neutral-100);
  --background-color: var(--neutral-900);
  --sidebar-button-hover: var(--neutral-600);
  --nav-bg: var(--neutral-800);
  --nav-bg-border: var(--neutral-500);
  --form-bg: var(--neutral-600);
  --form-bg-hover: var(--neutral-500);
  --form-border: var(--neutral-300);
  --form-border-hover: var(--neutral-400);
  --focus-outline: var(--neutral-100);
  --form-error: var(--red-600);
  --tag-number: var(--neutral-400);
  --tag-number-text: var(--neutral-0);
}

*,
*::before,
*::after {
  transition: background-color 500ms ease, color 500ms ease,
    border-color 500ms ease, fill 500ms ease, stroke 500ms ease;
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  font-family: var(--font-manrope), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
