@use '@/styles/_mixins' as *
    
.navContainer
    align-items: center
    background-color: var(--nav-bg)
    border: 1px solid var(--nav-bg-border)
    display: flex
    flex-direction: row
    gap: 10px
    height: 65px
    padding: 12px 16px
    width: 100%vw

    +tablet
        height: 78px

.menuButton
    background: none
    border: 2px solid var(--neutral-400)
    border-radius: 8px
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    max-height: 40px
    max-width: 40px
    height: 40px
    width: 40px

    &Left
        display: inline block

        +desktop
            display: none     

    &Bookmark
        background-color: var(--teal-700)

        &:hover
            background-color: var(--teal-800)

        &Text
            display: none

            +tablet
                color: var(--neutral-0)
                display: inline-block
                padding-left: 6px

        +tablet
            max-width: 169px
            width: 169px

.searchContainer
    flex: 1
    height: 41px
    position: relative

.searchIcon
    left: 14.5px
    top: 50%
    transform: translateY(-50%)
    position: absolute

.input
    background-color: var(--form-bg)
    border: 2px solid var(--nav-bg-border)
    border-radius: 8px
    color: var(--secondary-text-color)
    height: 100%
    outline: none
    padding: 12px
    padding-left: 40px
    width: 100%

    +desktop
        max-width: 320px

    &::placeholder
        color: var(--secondary-text-color)

    &Error
        outline: solid var(--form-error)
        outline-offset: 2px

    &:focus
        outline: solid var(--focus-outline)
        outline-offset: 2px

    &:hover
        background-color: var(--form-bg-hover)
        border-color: var(--form-border-hover)

.avatarButton
    align-items: center
    background: none
    border: none
    border-radius: 50%
    cursor: pointer
    display: flex
    justify-content: center
    outline: 2px solid transparent
    outline-offset: 2px

    &:hover
        outline-color: var(--focus-outline)

    &[data-state="open"]
        outline-color: var(--focus-outline)

.userInfo
    display: flex
    flex-direction: row
    gap: 12px
    overflow: hidden
    padding-inline: 16px
    width: 100%

    &Details
        flex: 1
        max-width: 90%

        &Text
            text-overflow: ellipsis
            width: 100%

            &Primary
                color: var(--primary-text-color)

            &Secondary
                color: var(--secondary-text-color)

.menu
    background-color: var(--form-bg)
    border: 1px solid var(--form-bg-hover)

.themeSetting
    align-items: center
    display: flex
    flex-direction: row
    justify-content: space-between
    padding-inline: 16px

    &Label
        align-items: center
        color: var(--secondary-text-color)
        display: flex
        flex-direction: row
        gap: 5px

.divider
    background-color: var(--form-bg-hover)
    height: 2px
    margin: 12px 0

.switch
  width: 40px
  height: 40px
  border-radius: 8px
  background: var(--form-bg)
  display: flex
  align-items: center
  justify-content: center

  &[data-state="checked"]
    background: var(--teal-700)

.paletteIcon
    color: var(--secondary-text-color)

.themeIcons
    color: var(--primary-text-color)

.menuIcon
    color: var(--primary-text-color)

.addIcon
    color: var(--neutral-0)

.themeButton
    align-items: center
    background-color: var(--nav-bg-border)
    border-radius: 4px
    cursor: pointer
    display: flex
    flex-direction: row
    justify-content: space-between
    height: 30px
    padding: 2px
    width: 64px

    &Select
        align-items: center
        background-color: var(--nav-bg-border)
        border-radius: 4px
        display: flex
        justify-content: center
        height: 100%
        width: 30px

        &Selected
            background-color: var(--form-bg)

.logout
    align-items: center
    cursor: pointer
    display: flex
    flex-direction: row
    gap: 10px
    justify-content: start
    padding-inline: 16px
    width: 100%