.dashboardContainer
    background-color: inherit
    display: flex
    flex-direction: row
    height: 100vh
    overflow: hidden
    width: 100vw

.sidebar
    height: 100%
    position: relative
    width: 296px

.mainSection
    flex: 1
    height: 100%