.close
    align-items: center
    border: 1px solid var(--dialog-close-border)
    border-radius: 8px
    color: var(--primary-text-color)
    cursor: pointer
    display: flex
    height: 32px
    justify-content: center
    width: 32px